<div class="background">

  <div>
  <mat-toolbar class="toolbar">
    <span>Melazon</span>
    <button mat-stroked-button>Categorias</button>
  </mat-toolbar>
</div>

<div class="imggrid">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <img
        src="https://i.pinimg.com/564x/d5/35/83/d53583fccd2adde0737f12c8ad49c6fc.jpg"
      />
    </mat-grid-tile>
    <mat-grid-tile>
      <img
        src="https://i.pinimg.com/564x/3d/47/2d/3d472d941a2090362ea7900e67418864.jpg"
      />
    </mat-grid-tile>
  </mat-grid-list>
</div>


</div>

